<header>
    <article>
        <div class="logo">
            <h1>
                {{#link-to 'leads'}}
                    Ember CRM
                {{/link-to}}
            </h1>
        </div>
    </article>
</header>

<section id="main">
    {{outlet}}
</section>

<footer></footer>